# CORE CONFIG
PRIVATE_KEY=
TOMB_CONTRACT=
RPC_URL=
TARGET_POOL1=
TARGET_POOL2=

# ROYALTY CONFIG
DEFAULT_BPS="10"        # 0.10%
LARGE_TX_BPS="7"        # 0.07%
TX_THRESHOLD=1000000000000000000   # 1 ETH in wei
MIN_ETH_VALUE=5000000000000000000  # 5 ETH in wei
